@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by displaying fallback text while the font loads */
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap; /* Improves performance by displaying fallback text while the font loads */
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Improves performance by displaying fallback text while the font loads */
}

:root {
  font-family: Satoshi;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #09090b;
  color: #fff;
}
